name: Get A Shell CI

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-app:
    runs-on: ubuntu-latest
    name: Build App
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install packages
        run: npm ci

      - name: Build
        run: npm run build

  build-app-image:
    needs: [build-app]
    runs-on: ubuntu-latest
    name: Build app image
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -f Dockerfile .

  get-changed-dockerfiles:
    runs-on: ubuntu-latest
    name: Get changed Dockerfiles
    outputs:
      matrix: ${{ steps.changed-dockerfiles.outputs.all_changed_files }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get changed Dockerfiles
        uses: tj-actions/changed-files@v44
        id: changed-dockerfiles
        with:
          files: dockerfiles/Dockerfile.*
          matrix: true

      - name: Debug Matrix
        run: echo ${{ steps.changed-dockerfiles.outputs.all_changed_files != [] }}

  build-shells:
    needs: [get-changed-dockerfiles]
    runs-on: ubuntu-latest
    name: Build Shells
    if: ${{ needs.get-changed-dockerfiles.outputs.matrix != '' }}
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        files: ${{ fromJson(needs.get-changed-dockerfiles.outputs.matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image for ${{ matrix.files }}
        run: docker build -f ${{ matrix.files }} .
